.marketing {
    & .header-bg {
        background-image: linear-gradient(
            to right,
            #0c3483 0%,
            #7f9cf5 100%,
            #6b8cce 100%,
            #7f9cf5 100%
        );
        transform: skewY(-2deg);
        transform-origin: 0;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        top: 0px;
    }
}
